@media screen and (max-width: 700px) {
  .menubar {
    width: 100%;
  }

  .searchBox {
    width: 100%;
  }

  .padding_small {
    padding: 5px;
  }

  .menuBarActionCluster {
    justify-content: flex-end;
  }

  .socialShareButtonBar {
    width: 80%;
  }

  .modal-content {
    padding: 20px;
    width: 90%; /* Could be more or less, depending on screen size */
  }

  .socialButtons {
    margin: 4px;
  }

  @media screen and (max-width: 370px) {
/*    .nav{
      font-size: 12px;
    }*/
  }
  
}
