@media screen and (max-width: 700px) {
  .menubar {
    width: 100%;
  }

  .searchBox {
    width: 100%;
  }

  .modal-content {
    width: 80%;
  }

  .padding_small {
    padding: 5px;
  }

  .menuBarActionCluster {
    justify-content: flex-end;
  }

  .socialShareButtonBar {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (max-width: 370px) {
/*    .nav{
      font-size: 12px;
    }*/
  }
  
}
